/* Basic styling resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bannerexp {
    width: auto;
    height: 73px;
    background-color: #4ba46e;
}

.banh1 {
    text-align: center;
    margin-bottom: 32px;
    padding-top: 5px;
    color: #fff;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.43;
}

/* Dashboard explores */
.dashexpl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    max-width: 1200px; /* Adjust this value based on your design */
    margin: 0 auto;   /* Center the content horizontally */
}

button {
    cursor: pointer;
    display: inline-block;
}

.btnotes,
.btnfav  {
    width: 600px;
    height: 80px;
    border-radius: 30px;
    border: 1px solid #000;
    background: #fce9d6;
    font-family: Inter;
    font-size: 23px;
    font-weight: 600;
    line-height: normal;
    margin-top: 3%;
    margin-left: 3%;
}

.btnbok {
    border: 1px solid #000;
    background: #fce9d6;
}

.btnfav {
    border: 1px solid #000;
    background: #eff2fc;
    color: rgba(0, 0, 0, 1);
}

.btnbok {
    border: 1px solid #000;
    background: #eef7f7;
}

.bticon {
    height: 50px;
    width: 100px;
    background-color: hsl(99, 56%, 87%);
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
}

span.size-48 {
    font-size: 40px;
    font-variation-settings: "OPSZ" 40;
}

/* filter */
/* filter by bar - can select more than one option */

/* Dropdown Button */
.dropbtn {
    background-color: #1a07c5;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: auto;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    padding: 10px 16px;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    /* Display as a block element */
    width: 100%;
    /* Take up the full width of the dropdown */
    text-align: left;
    /* Align the text to the left */
    align-items: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100px;
    border: 1px solid #ddd;
    z-index: 1;
    /* Additional styles to make it inline */
    text-align: left;
    padding: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* break between nav and the links */
.breakblue {
    width: auto;
    height: 73px;
    background-color: #1a07c5;
}

.h2exp {
    color: black;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 7%;
}

/* Flex layout for rows */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 5%;
    gap: 20px;
}

/* Each section's width and spacing */
.webdiv,
.peoplediv,
.eventsdiv {
    display: flex;
    /* Display each card section as a flex container */
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}


/* Each card column within a section */
.column {
    flex: 1;
    max-width: 300px;
}


/* Style the counter cards */
.cardexp {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-left: 50px;
    justify-content: space-between;
    width: calc(25% - 20px);
    max-width: 300px;
    /* This determines the card's width */
    display: flex;
    /* Make the card a flex container */
}

.card {
    margin: 10px;
    position: relative;
    display: flex;
}

.card-body {
    padding: 20px;
    flex-grow: 1;
    /* Allow the card content to stretch to fill the card */
}

.card-caption {
    position: absolute;
    top: 65%;
    left: 20px;
    right: 5px;
    color: white;
    text-align: left;
    font-family: "Jua", sans-serif;
    text-shadow: 1px 1px black;
    font-size: 20px;
    z-index: 2;
}

.card img {
    width: 100%;
    height: auto;
}

.card-img-top {
    height: 210px;
}


/* .card-peo {
    /* border: 1px solid black; */
    /* background-color: #d9d9d9; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* background-color: #f1f1f1; */

.iconleft {
    text-align: right;
    margin-top: 10px;
    gap: 20px;
}

.btnicon {
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
}

/* Filled effect for favorite and bookmark buttons */
.red {
    color: red !important;
}

.blue {
    color: lightblue !important;
}


.favorite-button,
.bookmark-button {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
}

.favorite-button::before,
.bookmark-button::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Responsive columns - one column layout (vertical) on small screens */
/* @media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
} */

@media screen and (max-width: 768px) {
    .banner-junior {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        width: 100%;
    }

    .card-caption {
        font-size: 20px;
    }
}